#card-box{
	background-color:#1A1A1A;
/*	height:100%;*/
}#card-box table{
	background-color:none;
/*	background-color:rgba(255,238,136,0.8);*/
	color:#1F1F1F;
/*	font-family: 'monotype corsiva';*/
	font-size:1.5em;
	margin-left: auto;
	margin-right: auto;
	width:100%;	
}#card-box table td,#card-box table th{
	background-color:#FE8;
	/*border:solid 1px rgba(0,0,0,0);*/
	border-style:none;
	padding:0.5em;
	text-align: center;
}#card-top button{	
	height:8em;
	text-transform: uppercase;
	width:10em;
}#card-top{
	text-align: center;
}#card-top button>img{
	height: 50%;
	width: 50%;
}#card-top>img{
	margin-top:3em;
	height:3em;
	width:3em;
}#card-top input,#card-top select{
	font-size: 1.5em;
	height:2em;
}#card-top input{
	text-align: center;	
}